<div class="app-container">
  <!-- header -->
  <nav class="navbar navbar-expand-lg px-5 fixed-top" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span>
          <img
            src="http://icons.iconarchive.com/icons/thvg/wood-folders/512/Glossy-Library-icon.png"
            width="40"
            alt="Library icon"
            srcset=""
          />
        </span>
        <span class="ms-2">{{ title }}</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div *ngIf="!user">
          <ul class="navbar-nav me-auto mb-2 px-5 mb-lg-0">
            <li class="nav-item mx-2">
              <a href="account/register">
                <button type="button" class="btn btn-outline-light">
                  Sign Up
                </button>
              </a>
            </li>
            <li class="nav-item mx-2">
              <a href="account/login">
                <button type="button" class="btn btn-secondary">Sign In</button>
              </a>
            </li>
          </ul>
        </div>

        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-secondary" type="submit">
            Search
          </button>
        </form>

      </div>
    </div>
  </nav>
  <div class="main">
    <aside class="fixed-left text-center" *ngIf="user">
      <h3>{{user.username}}</h3>
      <ul class="nav flex-column d-grid gap-2">
        <li class="nav-item">
          <a class="nav-link" href="/sheets/create">Create Sheet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sheets/mysheets">My sheets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Settings</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="btn btn-link nav-item nav-link" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </aside>

    <!-- section that will be replaced by the router -->
    
      <router-outlet></router-outlet>
    
  </div>
</div>
